* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.app {
  background: #f0f0f0ef;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8%;
}

.navbar ul {
  padding: 10px 30px;
  border-radius: 30px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.navbar ul li {
  display: inline-block;
  margin: 0 10px;
  padding: 5px 10px;
  color: #000;
}

.recipe-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.recipe-card {
  background: white;
  border-radius: 10px;
  padding: 20px;
}

.recipe-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.recipe-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
}

.hero h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  color: orangered;
}
.hero h3 {
  font-size: clamp(1.25rem, 3vw, 1.75rem);
  color: #21581c;
  font-style: italic;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    text-align: center;
  }
}
